#body {
  padding: 0;
  margin: 0;
  background-color:#887bd3;
}

#cont{
    border:1px solid black;
    border-radius :20px;
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background :rgb(158, 142, 142);
  }
  
  #cronometro{ 
    color:darkviolet; 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid rebeccapurple;
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  
  #tempo{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background :black;
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:indigo; 
    border:none; 
    color:white; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  
  #buttons button#shortBreak{
    background : darkorchid;
  }
  
  #buttons button#longBreak{
    background :darkorchid;
  }
  
  #buttons button#stop{
    background : darkorchid;
  }
 
